:root {
    --navbar: #EEEEA6;
    --side-nav: #632B30;
    --primary-buttons: #2274A5;

    /* color stacking for backgrounds*/
    --site-background: #FFF4D6;
    --first-background: #E6AF2E;
    --second-background: #E7EB90;
    --third-background: #FDFDFD;
}

/* Font Styling */
* {
    font-family: 'Wendy-One';
}

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.topNav {
    background-color: var(--navbar);
}

.topNav .navLogo {
    margin-left: 10%;
}

.topNav .logoutButton {
    margin-left: auto;
    margin-right: 1%;
    background-color: white;
    border-color: black;
    color: black;
}

.topNav .logoutButton:hover, .logoutButton:focus {
    background-color: var(--first-background);
    color: black;
    border-color: black;
}

.logoutIcon {
    width: 20px;
    height: 20px;
    margin: 0 10px 0 0;
}

@font-face {
    font-family: 'Wendy-One';
    src: local('Wendy-One'), url(../fonts/WendyOne-Regular.ttf) format('truetype');
}